
<br>
<div style="background-color: white; border: solid; box-shadow: 2px 2px 5px; padding: 25px; width: auto">
    <img 
    style="margin-bottom:5px"
    src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e2b48d2b-e7b6-46c1-834a-583ad8cfecd6/d6uu1fr-7b26ad9c-7924-416e-b8bb-d27ce5816fd2.png/v1/fill/w_1280,h_761,q_80,strp/the_ultimate_mega_showdown__charizards_by_seiryuuden_d6uu1fr-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2UyYjQ4ZDJiLWU3YjYtNDZjMS04MzRhLTU4M2FkOGNmZWNkNlwvZDZ1dTFmci03YjI2YWQ5Yy03OTI0LTQxNmUtYjhiYi1kMjdjZTU4MTZmZDIucG5nIiwiaGVpZ2h0IjoiPD03NjEiLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS53YXRlcm1hcmsiXSwid21rIjp7InBhdGgiOiJcL3dtXC9lMmI0OGQyYi1lN2I2LTQ2YzEtODM0YS01ODNhZDhjZmVjZDZcL3NlaXJ5dXVkZW4tNC5wbmciLCJvcGFjaXR5Ijo5NSwicHJvcG9ydGlvbnMiOjAuNDUsImdyYXZpdHkiOiJjZW50ZXIifX0.Sqzo6lmy4-kpMd8eyBoBCNJ2MEvwMbQRZSqSD0PziZI"
    
    width = 600px;
    alt="Pokemon Showdown Image">
    <img 
    style="margin-bottom:5px"
    src="https://wallpaperaccess.com/full/162450.jpg"    
    width = 635px;
    alt="Pokemon Showdown Image">
    <br>
    <br>
    <h1 style="text-align:center"><b>Welcome!</b></h1>
    <br>
    <h3>About</h3>
    <p style="font-size:16px">This website is designed to easily view and display information and data from 
        <a href="https://play.pokemonshowdown.com/"><b>Pokemon Showdown!</b></a>, 
        a competitive Pokemon battling simulator run by <a href="https://www.smogon.com/"><b>Smogon</b></a> that uses Smogon rules and formats.
        This website contains several features that are useful utilities for competitive Pokemon battling on Pokemon Showdown!. The website
        assumes general knowledge of Pokemon from users.</p>
    <hr>

    <h3>Competitive Battling</h3>  
    <p style="font-size:16px">While Pokemon Showdown! does host tons of tournaments, "competitive" Pokemon battling is labeled as such to distinguish
        it from the gameplay of the main Pokemon games, which are RPGs with a story. Showdown is only a battle simulator. Players can create teams and
        add Pokemon to their team exactly as they want without having to catch them. Players then battle other players. By making better teams
        and getting better at battling, players can increase their ELO rating, and players have a different rating for each format.</p>
    <br>
    <p style="font-size:16px">A Pokemon's <b>set</b> is the term to collectively refer to a Pokemon's in-combat details, including its ability,
    held item, stat-boosting nature and EVs, and four moves. A Pokemon's set thus dictates its playstyle in battle. Pokemon with good offensive
    stats are likely to utilize sets that augment their offensive power, while Pokemon with good defensive stats are inclined to use sets that
    increase their bulk and utility.</p>

    <p style="font-size:16px">When going to battle, you can select a generation and tier. A <b>generation</b> is a grouping of the actual Pokemon
    games that share similar Pokemon and battle mechanics that Pokemon Showdown and Smogon base their ruleset on. Each newer generation includes
    more Pokemon and different battle mechanics.</p>
    <ul>
        <li><p style="font-size:16px"><b>Generation 1</b>, or <b>RBY</b>, refers to the original Pokemon games (Pokemon Red, Pokemon Blue, and Pokemon Yellow) and the 
            Pokemon and battle mechanics found in them.</p></li>
        <li><p style="font-size:16px"><b>Generation 2</b>, or <b>GSC</b> refers to Pokemon Gold, Pokemon Silver, and Pokemon Crystal and the 
            Pokemon and battle mechanics found in them.</p></li>
        <li><p style="font-size:16px"><b>Generation 3</b>, or <b>RSE</b> refers to Pokemon Ruby, Pokemon Sapphire, and Pokemon Emerald
            (as well as Pokemon FireRed and Pokemon LeafGreen) and the Pokemon and battle mechanics found in them.</p></li>
        <li><p style="font-size:16px"><b>Generation 4</b>, or <b>DPP</b> refers to Pokemon Diamond, Pokemon Pearl, and Pokemon Platinum
            (as well as Pokemon HeartGold and Pokemon SoulSilver) and the Pokemon and battle mechanics found in them.</p></li>
        <li><p style="font-size:16px"><b>Generation 5</b>, or <b>BW</b> refers to Pokemon Black, Pokemon White, Pokemon Black 2, and Pokemon White 2
            and the Pokemon and battle mechanics found in them.</p></li>
        <li><p style="font-size:16px"><b>Generation 6</b>, or <b>XY</b> refers to Pokemon X, Pokemon Y, Pokemon Omega Ruby, and Pokemon Alpha Sapphire
            and the Pokemon and battle mechanics found in them.</p></li>
        <li><p style="font-size:16px"><b>Generation 7</b>, or <b>SM</b> refers to Pokemon Sun, Pokemon Moon, Pokemon Ultra Sun, and Pokemon Ultra Moon
            and the Pokemon and battle mechanics found in them.</p></li>
        <li><p style="font-size:16px"><b>Generation 8</b>, or <b>SWSH</b> refers to Pokemon Sword and Pokemon Shield
            and the Pokemon and battle mechanics found in them.</p></li>
    </ul>

    <p style="font-size:16px">A <b>tier</b> is a grouping of Pokemon that indicates how good a given Pokemon is. The process of tiering is determined
    by Smogon. There are many tiers and unofficial metagames, but this website only includes the official singles metagames and tiers. A Pokemon
    with a ~4.52% usage or over in a given tier is classified as being in that tier and banned from all tiers lower from it. Pokemon can still be
    used in higher tiers than its decided tier, but if it does not have the required usage percent, then it is not officially in that tier. Smogon
    checks for tier shifts every month. Generally, if a Pokemon's <b>usage percent</b> is ~4.52% or greater in a higher tier, then it is banned from
    its current tier and rises to the next tier. If a Pokemon's usage percent was ~4.52% or higher in the previous month but no longer sees as much play,
    the Pokemon falls to the next lowest tier if its usage percent gets below ~1.53%.</p>
    <ul>
        <li><p style="font-size:16px">The <b>OU</b> tier means "Over-Used". This is the standard tier for Smogon and its most popular. All
            other tiers are based around it. Pokemon in OU are banned in all lower tiers.</p></li>
        <li><p style="font-size:16px">The <b>Ubers</b> tier contains Pokemon that are banned from OU. Many of them are the powerful legendary Pokemon.
            Pokemon in Ubers are banned in all lower tiers.</p></li>
        <li><p style="font-size:16px">The <b>UU</b> tier means "Under-Used". Pokemon in UU are banned in all lower tiers.</p></li>
        <li><p style="font-size:16px">The <b>RU</b> tier means "Rarely-Used". Pokemon in RU are banned in all lower tiers.</p></li>
        <li><p style="font-size:16px">The <b>NU</b> tier means "Never-Used". Pokemon in NU are banned in all lower tiers.</p></li>
        <li><p style="font-size:16px">The <b>PU</b> tier meaning is a pun. This is the lowest official tier.</p></li>
        <li><p style="font-size:16px">The <b>LC</b> tier means "Little Cup". Little Cup is an official Smogon tier, but it exists outside of the
        tier shift process and operates separately. Little Cup is the tier for all of the "baby Pokemon", where all Pokemon used are level 5.
        A Pokemon's usage percent in LC has no effect on its tier placement in other tiers (unless it is banned) and vice versa.</p></li>
    </ul>
    <hr>

    <h3>Features</h3>
    <button style="margin:5px" class="btn btn-dark" onclick="location.href='/about'">About the Developer</button>
    <br>
    <br>
    <br>

    <p style="font-size:16px">View Pokemon Sets:</p>
    <button style="margin:5px" class="btn btn-warning" onclick="location.href='/sets'">Sets for Specific Format</button>
    <button style="margin:5px" class="btn btn-warning" onclick="location.href='/allSets'">Sets for All Tiers in Generation</button>
    <br>
    <br>
    <br>

    <p style="font-size:16px">View Usage Statistics:</p>
    <button style="margin:5px" class="btn btn-success" onclick="location.href='/usageStatsTier'">Usage for Tier</button>
    <button style="margin:5px" class="btn btn-success" onclick="location.href='/usageStatsMon'">Usage for Pokemon</button>
    <br>
    <br>
    <br>

    <p style="font-size:16px">Teambuilder Helper</p>
    <button style="margin:5px" class="btn btn-info" onclick="location.href='/teambuilderHelper'">Teambuilder Helper</button>

</div>

