
<br>
<a href="/about">About the Developer</a>
<br>
<br>
<br>
<a href="/sets">View Pokemon sets for specific tier and generation</a>
<br>
<br>
<a href="/allSets">View Pokemon sets for specific tier in all generations</a>
<br>
<br>
<a href="/usageStatsTier">View usage stats for a tier</a>
<br>
<br>
<a href="/usageStatsMon">View detailed usage stats for a Pokemon in a format</a>

