<!DOCTYPE html>
<html>
  <head>
    <title>CPA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body class="container" style="background-color:rgb(188, 235, 255)">
      <nav class="navbar navbar-expand-lg" style="background-color:rgb(252, 213, 198); border:solid; border-color:rgb(215, 188, 177)">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          Joseph's App
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                View Sets
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/sets">Specific Tier and Generation</a></li>
                <li><a class="dropdown-item" href="/allSets">All Tiers in a Generation</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Usage Statistics
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/usageStatsTier">Tier and Generation</a></li>
                <li><a class="dropdown-item" href="/usageStatsMon">Pokemon</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/teambuilderHelper">
                Teambuilder Helper
              </a>
            </li>

            <% if (username == "jmoniz" || username == "Fireflame" || username == "Fireflame479") {%>
              <li class="nav-item">
                <a class="nav-link" href="/data">Data</a>
              </li>
            <% } %>
          </ul>

          <ul class="navbar-nav navbar-right mb-2 mb-lg-0">
            <% if (!loggedIn) {%>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login/Signup</a>
              </li>
            <% } else { %>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout <%= username %></a>
              </li>
            <% } %>
          </ul>
          
        </div>
      </div>
    </nav>
    <br>
    <%- body %>
  </body>
</html>