<div style="background-color: white; border: solid; border-color: black; padding: 25px; width: auto">
    <p style="font-size: 16px">Generate updated dictionaries for the corresponding data</p>
    <br>

    <form method="post" action="/printData" autocomplete="off">
      Select type of data to update:
      <select name="dataType">
          <option value="abilities">Abilities</option>
          <option value="items">Items</option>
          <option value="moves">Moves</option>
          <option value="pokemonTypes">Pokemon Types</option>
          <option value="pokemonSpriteIconDex">Pokemon Sprite Icon Dex</option>
          <option value="genTierSetsDex">genTierSetsDex</option>
          <option value="blankSets">Blank Sets</option>
      </select>
      <br>
      <br>
      <input type="submit">
    </form>

</div>