<style>
    #example {font-family: monospace; color: blue}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
</style>

<h2>Find Sets for Generation and Tier</h2>
<p style="font-size: 16px">This is the page to view competitive Pokemon sets for battling with Smogon standards. 
    Data is collected by Smogon. Enter a Pokemon's name and select a given tier and generation to view all of the top sets of that Pokemon
    for that tier in that generation.</p>
<br>
<form method="post" action="/sets" autocomplete="off">
    <div class="autocomplete" style="width:300px;">
        <p style="font-size: 16px">Enter Pokemon: <input type="text" name="pokemon" id="monInput"></p>
    </div>
    <br>
    <p style="font-size: 16px">
    Select generation:
    <select name="generation">
        <option value="8">Generation 8</option>
        <option value="7">Generation 7</option>
        <option value="6">Generation 6</option>
        <option value="5">Generation 5</option>
        <option value="4">Generation 4</option>
        <option value="3">Generation 3</option>
        <option value="2">Generation 2</option>
        <option value="1">Generation 1</option>
    </select>

    Select tier:
    <select name="tier">
        <option value="Ubers" style="background-color:goldenrod">Ubers</option>
        <option value="OU" style="background-color:lightskyblue">OU</option>
        <option value="UU" style="background-color:red; color:white"">UU</option>
        <option value="RU" style="background-color:yellow">RU</option>
        <option value="NU" style="background-color:blue; color:white">NU</option>
        <option value="PU" style="background-color:olive">PU</option>
        <option value="LC" style="background-color:green; color:white"">LC</option>
    </select>
    </p>
    <hr>
    <input type="submit">
</form>
<hr>
<h6>Name Format</h6>
<p>Names of Pokemon must be typed in the proper format in order to search for Pokemon sets. The following is a list of specifics regarding name
    formatting:
</p>
<ul>
    <li><p style="margin-bottom:5px">Mega Pokemon should be in <span style="font-family: monospace"><b>[Pokemon]-Mega</b></span> format.
        For Pokemon with two Mega Evolutions, the format should be <span style="font-family: monospace"><b>[Pokemon]-Mega-X</b></span> and
        <span style="font-family: monospace"><b>[Pokemon]-Mega-Y</b></span></p>
        <p style="margin-bottom:5px">Examples: <span style="font-family: monospace"><b>Mega Houndoom</b></span> should be <span id="example"><b>Houndoom-Mega</b></span>.
        <span style="font-family: monospace"><b>Mega Charizard X</b></span> should be <span id="example"><b>Charizard-Mega-X</b></span> and 
        <span style="font-family: monospace"><b>Mega Charizard Y</b></span> should be <span id="example"><b>Charizard-Mega-Y</b></span>.</p>
    </li>
    <li><p style="margin-bottom:5px">Alolan and Galarian formes of Pokemon should be in <span style="font-family: monospace"><b>[Pokemon]-[Forme]</b></span> format.</p>
        <p style="margin-bottom:5px">Examples: <span style="font-family: monospace"><b>Alolan Raichu</b></span> should be <span id="example"><b>Raichu-Alola</b></span>.
        <span style="font-family: monospace"><b>Galarian Stunfisk</b></span> should be <span id="example"><b>Stunfisk-Galar</b></span>.</p>
    </li>
    <li><p style="margin-bottom:5px">Non-regional formes of Pokemon should also be in <span style="font-family: monospace"><b>[Pokemon]-[Forme]</b></span> format.
        The normal forme of a Pokemon with multiple formes should just be in <span style="font-family: monospace"><b>[Pokemon]</b></span> format.</p>
        <p style="margin-bottom:5px">Examples: <span id="example"><b>Rotom</b></span> and <span id="example"><b>Rotom-Wash</b></span>; 
            <span id="example"><b>Deoxys</b></span> and <span id="example"><b>Deoxys-Attack</b></span>;
            <span id="example"><b>Groudon</b></span> and <span id="example"><b>Groudon-Primal</b></span>;
            <span id="example"><b>Giratina</b></span> and <span id="example"><b>Giratina-Origin</b></span>;
            <span id="example"><b>Arceus</b></span> and <span id="example"><b>Arceus-Rock</b></span>;
            <span id="example"><b>Landorus</b></span> and <span id="example"><b>Landorus-Therian</b></span>.</p>
    </li>
    <li><p style="margin-bottom:5px">Formes of Pokemon in which the forme name has multiple words or the forme itself has formes should be in 
        <span style="font-family: monospace"><b>[Pokemon]-[Forme]</b></span> format, but every word or sub-forme should be separated by a hyphen.</p>
        <p style="margin-bottom:5px">Examples: <span style="font-family: monospace"><b>Rapid Strike Urshifu</b></span> should be <span id="example"><b>Urshifu-Rapid-Strike</b></span>.
        <span style="font-family: monospace"><b>Galarian Zen Mode Darmanitan</b></span> should be <span id="example"><b>Darmanitan-Galar-Zen</b></span>.</p>
    </li>
    <li><p style="margin-bottom:5px">All punctuation and spaces should be kept for Pokemon names that have them.</p>
        <p style="margin-bottom:5px">Examples: <span id="example"><b>Farfetch'd</b></span>, <span id="example"><b>Mr. Mime</b></span>, 
        <span id="example"><b>Ho-Oh</b></span>, <span id="example"><b>Zygarde-10%</b></span>, <span id="example"><b>Type: Null</b></span>.</p>
    </li>
    <li><p style="margin-bottom:5px">Male and female Nidoran are different Pokemon, and male and female Indeedee have different stats. The male version shoud be  
        <span style="font-family: monospace"><b>[Pokemon]</b></span> and the female version should be <span style="font-family: monospace"><b>[Pokemon]-F</b></span>.</p>
        <p style="margin-bottom:5px">Examples: <span id="example"><b>Nidoran</b></span> and <span id="example"><b>Nidoran-F</b></span>.</p>
    </li>
</ul>


<script>
    
    function autocomplete(inp, arr) {
    /*the autocomplete function takes two arguments,
    the text field element and an array of possible autocompleted values:*/
    var currentFocus;
    /*execute a function when someone writes in the text field:*/
    inp.addEventListener("input", function(e) {
        var a, b, i, val = this.value;
        /*close any already open lists of autocompleted values*/
        closeAllLists();
        if (!val) { return false;}
        currentFocus = -1;
        /*create a DIV element that will contain the items (values):*/
        a = document.createElement("DIV");
        a.setAttribute("id", this.id + "autocomplete-list");
        a.setAttribute("class", "autocomplete-items");
        /*append the DIV element as a child of the autocomplete container:*/
        this.parentNode.appendChild(a);
        /*for each item in the array...*/
        for (i = 0; i < arr.length; i++) {
          /*check if the item starts with the same letters as the text field value:*/
          if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
            /*create a DIV element for each matching element:*/
            b = document.createElement("DIV");
            /*make the matching letters bold:*/
            b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
            b.innerHTML += arr[i].substr(val.length);
            /*insert a input field that will hold the current array item's value:*/
            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
            /*execute a function when someone clicks on the item value (DIV element):*/
                b.addEventListener("click", function(e) {
                /*insert the value for the autocomplete text field:*/
                inp.value = this.getElementsByTagName("input")[0].value;
                /*close the list of autocompleted values,
                (or any other open lists of autocompleted values:*/
                closeAllLists();
            });
            a.appendChild(b);
          }
        }
    });
    /*execute a function presses a key on the keyboard:*/
    inp.addEventListener("keydown", function(e) {
        var x = document.getElementById(this.id + "autocomplete-list");
        if (x) x = x.getElementsByTagName("div");
        if (e.keyCode == 40) {
          /*If the arrow DOWN key is pressed,
          increase the currentFocus variable:*/
          currentFocus++;
          /*and and make the current item more visible:*/
          addActive(x);
        } else if (e.keyCode == 38) { //up
          /*If the arrow UP key is pressed,
          decrease the currentFocus variable:*/
          currentFocus--;
          /*and and make the current item more visible:*/
          addActive(x);
        } else if (e.keyCode == 13) {
          /*If the ENTER key is pressed, prevent the form from being submitted,*/
          e.preventDefault();
          if (currentFocus > -1) {
            /*and simulate a click on the "active" item:*/
            if (x) x[currentFocus].click();
          }
        }
    });
    function addActive(x) {
      /*a function to classify an item as "active":*/
      if (!x) return false;
      /*start by removing the "active" class on all items:*/
      removeActive(x);
      if (currentFocus >= x.length) currentFocus = 0;
      if (currentFocus < 0) currentFocus = (x.length - 1);
      /*add class "autocomplete-active":*/
      x[currentFocus].classList.add("autocomplete-active");
    }
    function removeActive(x) {
      /*a function to remove the "active" class from all autocomplete items:*/
      for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
      }
    }
    function closeAllLists(elmnt) {
      /*close all autocomplete lists in the document,
      except the one passed as an argument:*/
      var x = document.getElementsByClassName("autocomplete-items");
      for (var i = 0; i < x.length; i++) {
        if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
  }

const allMonNames = [
     "Bulbasaur",
     "Ivysaur",
     "Venusaur",
     "Venusaur-Mega",
     "Charmander",
     "Charmeleon",
     "Charizard",
     "Charizard-Mega-X",
     "Charizard-Mega-Y",
     "Squirtle",
     "Wartortle",
     "Blastoise",
     "Blastoise-Mega",
     "Caterpie",
     "Metapod",
     "Butterfree",
     "Weedle",
     "Kakuna",
     "Beedrill",
     "Beedrill-Mega",
     "Pidgey",
     "Pidgeotto",
     "Pidgeot",
     "Pidgeot-Mega",
     "Rattata",
     "Rattata-Alola",
     "Raticate",
     "Raticate-Alola",
     "Spearow",
     "Fearow",
     "Ekans",
     "Arbok",
     "Pikachu",
     "Raichu",
     "Raichu-Alola",
     "Sandshrew",
     "Sandshrew-Alola",
     "Sandslash",
     "Sandslash-Alola",
     "Nidoran-F",
     "Nidorina",
     "Nidoqueen",
     "Nidoran",
     "Nidorino",
     "Nidoking",
     "Clefairy",
     "Clefable",
     "Vulpix",
     "Vulpix-Alola",
     "Ninetales",
     "Ninetales-Alola",
     "Jigglypuff",
     "Wigglytuff",
     "Zubat",
     "Golbat",
     "Oddish",
     "Gloom",
     "Vileplume",
     "Paras",
     "Parasect",
     "Venonat",
     "Venomoth",
     "Diglett",
     "Digglett-Alola",
     "Dugtrio",
     "Dugtrio-Alola",
     "Meowth",
     "Meowth-Alola",
     "Persian",
     "Persian-Alola",
     "Psyduck",
     "Golduck",
     "Mankey",
     "Primeape",
     "Growlithe",
     "Arcanine",
     "Poliwag",
     "Poliwhirl",
     "Poliwrath",
     "Abra",
     "Kadabra",
     "Alakazam",
     "Alakazam-Mega",
     "Machop",
     "Machoke",
     "Machamp",
     "Bellsprout",
     "Weepinbell",
     "Victreebel",
     "Tentacool",
     "Tentacruel",
     "Geodude",
     "Geodude-Alola",
     "Graveler",
     "Graveler-Alola",
     "Golem",
     "Golem-Alola",
     "Ponyta",
     "Ponyta-Galar",
     "Rapidash",
     "Rapidash-Galar",
     "Slowpoke",
     "Slowpoke-Galar",
     "Slowbro",
     "Slowbro-Galar",
     "Slowbro-Mega",
     "Magnemite",
     "Magneton",
     "Farfetch'd",
     "Farfetch'd-Galar",
     "Doduo",
     "Dodrio",
     "Seel",
     "Dewgong",
     "Grimer",
     "Grimer-Alola",
     "Muk",
     "Muk-Alola",
     "Shellder",
     "Cloyster",
     "Gastly",
     "Haunter",
     "Gengar",
     "Gengar-Mega",
     "Onix",
     "Drowzee",
     "Hypno",
     "Krabby",
     "Kingler",
     "Voltorb",
     "Electrode",
     "Exeggcute",
     "Exeggutor",
     "Exeggutor-Alola",
     "Cubone",
     "Marowak",
     "Marowak-Alola",
     "Hitmonlee",
     "Hitmonchan",
     "Lickitung",
     "Koffing",
     "Weezing",
     "Weezing-Galar",
     "Rhyhorn",
     "Rhydon",
     "Chansey",
     "Tangela",
     "Kangaskhan",
     "Kangaskhan-Mega",
     "Horsea",
     "Seadra",
     "Goldeen",
     "Seaking",
     "Staryu",
     "Starmie",
     "Mr. Mime",
     "Mr. Mime-Galar",
     "Scyther",
     "Jynx",
     "Electabuzz",
     "Magmar",
     "Pinsir",
     "Pinsir-Mega",
     "Tauros",
     "Magikarp",
     "Gyarados",
     "Gyarados-Mega",
     "Lapras",
     "Ditto",
     "Eevee",
     "Vaporeon",
     "Jolteon",
     "Flareon",
     "Porygon",
     "Omanyte",
     "Omastar",
     "Kabuto",
     "Kabutops",
     "Aerodactyl",
     "Snorlax",
     "Articuno",
     "Articuno-Galar",
     "Zapdos",
     "Zapdos-Galar",
     "Moltres",
     "Moltres-Galar",
     "Dratini",
     "Dragonair",
     "Dragonite",
     "Mewtwo",
     "Mewtwo-Mega-X",
     "Mewtwo-Mega-Y",
     "Mew",
     "Chikorita",
     "Bayleef",
     "Meganium",
     "Cyndaquil",
     "Quilava",
     "Typhlosion",
     "Totodile",
     "Croconaw",
     "Feraligatr",
     "Sentret",
     "Furret",
     "Hoothoot",
     "Noctowl",
     "Ledyba",
     "Ledian",
     "Spinarak",
     "Ariados",
     "Crobat",
     "Chinchou",
     "Lanturn",
     "Pichu",
     "Cleffa",
     "Igglybuff",
     "Togepi",
     "Togetic",
     "Natu",
     "Xatu",
     "Mareep",
     "Flaaffy",
     "Ampharos",
     "Ampharos-Mega",
     "Bellossom",
     "Marill",
     "Azumarill",
     "Sudowoodo",
     "Politoed",
     "Hoppip",
     "Skiploom",
     "Jumpluff",
     "Aipom",
     "Sunkern",
     "Sunflora",
     "Yanma",
     "Wooper",
     "Quagsire",
     "Espeon",
     "Umbreon",
     "Murkrow",
     "Slowking",
     "Slowking-Galar",
     "Misdreavus",
     "Unown",
     "Wobbuffet",
     "Girafarig",
     "Pineco",
     "Forretress",
     "Dunsparce",
     "Gligar",
     "Steelix",
     "Steelix-Mega",
     "Snubbull",
     "Granbull",
     "Qwilfish",
     "Scizor",
     "Scizor-Mega",
     "Shuckle",
     "Heracross",
     "Heracross-Mega",
     "Sneasel",
     "Teddiursa",
     "Ursaring",
     "Slugma",
     "Magcargo",
     "Swinub",
     "Piloswine",
     "Corsola",
     "Corsola-Galar",
     "Remoraid",
     "Octillery",
     "Delibird",
     "Mantine",
     "Skarmory",
     "Houndour",
     "Houndoom",
     "Houndoom-Mega",
     "Kingdra",
     "Phanpy",
     "Donphan",
     "Porygon2",
     "Stantler",
     "Smeargle",
     "Tyrogue",
     "Hitmontop",
     "Smoochum",
     "Elekid",
     "Magby",
     "Miltank",
     "Blissey",
     "Raikou",
     "Entei",
     "Suicune",
     "Larvitar",
     "Pupitar",
     "Tyranitar",
     "Tyranitar-Mega",
     "Lugia",
     "Ho-Oh",
     "Celebi",
     "Treecko",
     "Grovyle",
     "Sceptile",
     "Sceptile-Mega",
     "Torchic",
     "Combusken",
     "Blaziken",
     "Blaziken-Mega",
     "Mudkip",
     "Marshtomp",
     "Swampert",
     "Swampert-Mega",
     "Poochyena",
     "Mightyena",
     "Zigzagoon",
     "Zigzagoon-Galar",
     "Linoone",
     "Linoone-Galar",
     "Wurmple",
     "Silcoon",
     "Beautifly",
     "Cascoon",
     "Dustox",
     "Lotad",
     "Lombre",
     "Ludicolo",
     "Seedot",
     "Nuzleaf",
     "Shiftry",
     "Taillow",
     "Swellow",
     "Wingull",
     "Pelipper",
     "Ralts",
     "Kirlia",
     "Gardevoir",
     "Gardevoir-Mega",
     "Surskit",
     "Masquerain",
     "Shroomish",
     "Breloom",
     "Slakoth",
     "Vigoroth",
     "Slaking",
     "Nincada",
     "Ninjask",
     "Shedinja",
     "Whismur",
     "Loudred",
     "Exploud",
     "Makuhita",
     "Hariyama",
     "Azurill",
     "Nosepass",
     "Skitty",
     "Delcatty",
     "Sableye",
     "Sableye-Mega",
     "Mawile",
     "Mawile-Mega",
     "Aron",
     "Lairon",
     "Aggron",
     "Aggron-Mega",
     "Meditite",
     "Medicham",
     "Medicham-Mega",
     "Electrike",
     "Manectric",
     "Manectric-Mega",
     "Plusle",
     "Minun",
     "Volbeat",
     "Illumise",
     "Roselia",
     "Gulpin",
     "Swalot",
     "Carvanha",
     "Sharpedo",
     "Sharpedo-Mega",
     "Wailmer",
     "Wailord",
     "Numel",
     "Camerupt",
     "Camerupt-Mega",
     "Torkoal",
     "Spoink",
     "Grumpig",
     "Spinda",
     "Trapinch",
     "Vibrava",
     "Flygon",
     "Cacnea",
     "Cacturne",
     "Swablu",
     "Altaria",
     "Altaria-Mega",
     "Zangoose",
     "Seviper",
     "Lunatone",
     "Solrock",
     "Barboach",
     "Whiscash",
     "Corphish",
     "Crawdaunt",
     "Baltoy",
     "Claydol",
     "Lileep",
     "Cradily",
     "Anorith",
     "Armaldo",
     "Feebas",
     "Milotic",
     "Castform",
     "Kecleon",
     "Shuppet",
     "Banette",
     "Banette-Mega",
     "Duskull",
     "Dusclops",
     "Tropius",
     "Chimecho",
     "Absol",
     "Absol-Mega",
     "Wynaut",
     "Snorunt",
     "Glalie",
     "Glalie-Mega",
     "Spheal",
     "Sealeo",
     "Walrein",
     "Clamperl",
     "Huntail",
     "Gorebyss",
     "Relicanth",
     "Luvdisc",
     "Bagon",
     "Shelgon",
     "Salamence",
     "Salamence-Mega",
     "Beldum",
     "Metang",
     "Metagross",
     "Regirock",
     "Regice",
     "Registeel",
     "Latias",
     "Latias-Mega",
     "Latios",
     "Latios-Mega",
     "Kyogre",
     "Kyogre-Primal",
     "Groudon",
     "Groudon-Primal",
     "Rayquaza",
     "Rayquaza-Mega",
     "Jirachi",
     "Deoxys",
     "Deoxys-Attack",
     "Deoxys-Defense",
     "Deoxys-Speed",
     "Turtwig",
     "Grotle",
     "Torterra",
     "Chimchar",
     "Monferno",
     "Infernape",
     "Piplup",
     "Prinplup",
     "Empoleon",
     "Starly",
     "Staravia",
     "Staraptor",
     "Bidoof",
     "Bibarel",
     "Kricketot",
     "Kricketune",
     "Shinx",
     "Luxio",
     "Luxray",
     "Budew",
     "Roserade",
     "Cranidos",
     "Rampardos",
     "Shieldon",
     "Bastiodon",
     "Burmy",
     "Wormadam",
     "Wormadam-Sandy",
     "Wormadam-Trash",
     "Mothim",
     "Combee",
     "Vespiquen",
     "Pachirisu",
     "Buizel",
     "Floatzel",
     "Cherubi",
     "Cherrim",
     "Shellos",
     "Gastrodon",
     "Ambipom",
     "Drifloon",
     "Drifblim",
     "Buneary",
     "Lopunny",
     "Lopunny-Mega",
     "Mismagius",
     "Honchkrow",
     "Glameow",
     "Purugly",
     "Chingling",
     "Stunky",
     "Skuntank",
     "Bronzor",
     "Bronzong",
     "Bonsly",
     "Mime Jr.",
     "Happiny",
     "Chatot",
     "Spiritomb",
     "Gible",
     "Gabite",
     "Garchomp",
     "Garchomp-Mega",
     "Munchlax",
     "Riolu",
     "Lucario",
     "Lucario-Mega",
     "Hippopotas",
     "Hippowdon",
     "Skorupi",
     "Drapion",
     "Croagunk",
     "Toxicroak",
     "Carnivine",
     "Finneon",
     "Lumineon",
     "Mantyke",
     "Snover",
     "Abomasnow",
     "Abomasnow-Mega",
     "Weavile",
     "Magnezone",
     "Lickilicky",
     "Rhyperior",
     "Tangrowth",
     "Electivire",
     "Magmortar",
     "Togekiss",
     "Yanmega",
     "Leafeon",
     "Glaceon",
     "Gliscor",
     "Mamoswine",
     "Porygon-Z",
     "Gallade",
     "Gallade-Mega",
     "Probopass",
     "Dusknoir",
     "Froslass",
     "Rotom",
     "Rotom-Fan",
     "Rotom-Frost",
     "Rotom-Heat",
     "Rotom-Mow",
     "Rotom-Wash",
     "Uxie",
     "Mesprit",
     "Azelf",
     "Dialga",
     "Palkia",
     "Heatran",
     "Regigigas",
     "Giratina",
     "Giratina-Origin",
     "Cresselia",
     "Phione",
     "Manaphy",
     "Darkrai",
     "Shaymin",
     "Shaymin-Sky",
     "Arceus",
     "Arceus-Bug",
     "Arceus-Dark",
     "Arceus-Dragon",
     "Arceus-Electric",
     "Arceus-Fairy",
     "Arceus-Fighting",
     "Arceus-Fire",
     "Arceus-Flying",
     "Arceus-Ghost",
     "Arceus-Grass",
     "Arceus-Ground",
     "Arceus-Ice",
     "Arceus-Poison",
     "Arceus-Psychic",
     "Arceus-Rock",
     "Arceus-Steel",
     "Arceus-Water",
     "Victini",
     "Snivy",
     "Servine",
     "Serperior",
     "Tepig",
     "Pignite",
     "Emboar",
     "Oshawott",
     "Dewott",
     "Samurott",
     "Patrat",
     "Watchog",
     "Lillipup",
     "Herdier",
     "Stoutland",
     "Purrloin",
     "Liepard",
     "Pansage",
     "Simisage",
     "Pansear",
     "Simisear",
     "Panpour",
     "Simipour",
     "Munna",
     "Musharna",
     "Pidove",
     "Tranquill",
     "Unfezant",
     "Blitzle",
     "Zebstrika",
     "Roggenrola",
     "Boldore",
     "Gigalith",
     "Woobat",
     "Swoobat",
     "Drilbur",
     "Excadrill",
     "Audino",
     "Audino-Mega",
     "Timburr",
     "Gurdurr",
     "Conkeldurr",
     "Tympole",
     "Palpitoad",
     "Seismitoad",
     "Throh",
     "Sawk",
     "Sewaddle",
     "Swadloon",
     "Leavanny",
     "Venipede",
     "Whirlipede",
     "Scolipede",
     "Cottonee",
     "Whimsicott",
     "Petilil",
     "Lilligant",
     "Basculin",
     "Sandile",
     "Krokorok",
     "Krookodile",
     "Darumaka",
     "Darumaka-Galar",
     "Darmanitan",
     "Darmanitan-Zen",
     "Darmanitan-Galar",
     "Darmanitan-Galar-Zen",
     "Maractus",
     "Dwebble",
     "Crustle",
     "Scraggy",
     "Scrafty",
     "Sigilyph",
     "Yamask",
     "Yamask-Galar",
     "Cofagrigus",
     "Tirtouga",
     "Carracosta",
     "Archen",
     "Archeops",
     "Trubbish",
     "Garbodor",
     "Zorua",
     "Zoroark",
     "Minccino",
     "Cinccino",
     "Gothita",
     "Gothorita",
     "Gothitelle",
     "Solosis",
     "Duosion",
     "Reuniclus",
     "Ducklett",
     "Swanna",
     "Vanillite",
     "Vanillish",
     "Vanilluxe",
     "Deerling",
     "Sawsbuck",
     "Emolga",
     "Karrablast",
     "Escavalier",
     "Foongus",
     "Amoonguss",
     "Frillish",
     "Jellicent",
     "Alomomola",
     "Joltik",
     "Galvantula",
     "Ferroseed",
     "Ferrothorn",
     "Klink",
     "Klang",
     "Klinklang",
     "Tynamo",
     "Eelektrik",
     "Eelektross",
     "Elgyem",
     "Beheeyem",
     "Litwick",
     "Lampent",
     "Chandelure",
     "Axew",
     "Fraxure",
     "Haxorus",
     "Cubchoo",
     "Beartic",
     "Cryogonal",
     "Shelmet",
     "Accelgor",
     "Stunfisk",
     "Stunfisk-Galar",
     "Mienfoo",
     "Mienshao",
     "Druddigon",
     "Golett",
     "Golurk",
     "Pawniard",
     "Bisharp",
     "Bouffalant",
     "Rufflet",
     "Braviary",
     "Vullaby",
     "Mandibuzz",
     "Heatmor",
     "Durant",
     "Deino",
     "Zweilous",
     "Hydreigon",
     "Larvesta",
     "Volcarona",
     "Cobalion",
     "Terrakion",
     "Virizion",
     "Tornadus",
     "Tornadus-Therian",
     "Thundurus",
     "Thundurus-Therian",
     "Reshiram",
     "Zekrom",
     "Landorus",
     "Landorus-Therian",
     "Kyurem",
     "Kyurem-Black",
     "Kyurem-White",
     "Keldeo",
     "Keldeo-Resolute",
     "Meloetta",
     "Meloetta-Pirouette",
     "Genesect",
     "Chespin",
     "Quilladin",
     "Chesnaught",
     "Fennekin",
     "Braixen",
     "Delphox",
     "Froakie",
     "Frogadier",
     "Greninja",
     "Bunnelby",
     "Diggersby",
     "Fletchling",
     "Fletchinder",
     "Talonflame",
     "Scatterbug",
     "Spewpa",
     "Vivillon",
     "Litleo",
     "Pyroar",
     "Flabebe",
     "Floette",
     "Florges",
     "Skiddo",
     "Gogoat",
     "Pancham",
     "Pangoro",
     "Furfrou",
     "Espurr",
     "Meowstic",
     "Meowstic-F",
     "Honedge",
     "Doublade",
     "Aegislash",
     "Spritzee",
     "Aromatisse",
     "Swirlix",
     "Slurpuff",
     "Inkay",
     "Malamar",
     "Binacle",
     "Barbaracle",
     "Skrelp",
     "Dragalge",
     "Clauncher",
     "Clawitzer",
     "Helioptile",
     "Heliolisk",
     "Tyrunt",
     "Tyrantrum",
     "Amaura",
     "Aurorus",
     "Sylveon",
     "Hawlucha",
     "Dedenne",
     "Carbink",
     "Goomy",
     "Sliggoo",
     "Goodra",
     "Klefki",
     "Phantump",
     "Trevenant",
     "Pumpkaboo",
     "Gourgeist",
     "Bergmite",
     "Avalugg",
     "Noibat",
     "Noivern",
     "Xerneas",
     "Yveltal",
     "Zygarde",
     "Zygarde-10%",
     "Zygarde-Complete",
     "Diancie",
     "Diancie-Mega",
     "Hoopa",
     "Hoopa-Unbound",
     "Volcanion",
     "Rowlet",
     "Dartrix",
     "Decidueye",
     "Litten",
     "Torracat",
     "Incineroar",
     "Popplio",
     "Brionne",
     "Primarina",
     "Pikipek",
     "Trumbeak",
     "Toucannon",
     "Yungoos",
     "Gumshoos",
     "Grubbin",
     "Charjabug",
     "Vikavolt",
     "Crabrawler",
     "Crabominable",
     "Oricorio",
     "Oricorio-Pau'",
     "Oricorio-Pom-Pom",
     "Oricorio-Sensu",
     "Cutiefly",
     "Ribombee",
     "Rockruff",
     "Lycanroc",
     "Lycanroc-Dusk",
     "Lycanroc-Midnight",
     "Wishiwashi",
     "Mareanie",
     "Toxapex",
     "Mudbray",
     "Mudsdale",
     "Dewpider",
     "Araquanid",
     "Fomantis",
     "Lurantis",
     "Morelull",
     "Shiinotic",
     "Salandit",
     "Salazzle",
     "Stufful",
     "Bewear",
     "Bounsweet",
     "Steenee",
     "Tsareena",
     "Comfey",
     "Oranguru",
     "Passimian",
     "Wimpod",
     "Golisopod",
     "Sandygast",
     "Palossand",
     "Pyukumuku",
     "Type: Null",
     "Silvally",
     "Silvally-Bug",
     "Silvally-Dark",
     "Silvally-Dragon",
     "Silvally-Electric",
     "Silvally-Fairy",
     "Silvally-Fighting",
     "Silvally-Fire",
     "Silvally-Flying",
     "Silvally-Ghost",
     "Silvally-Grass",
     "Silvally-Ground",
     "Silvally-Ice",
     "Silvally-Poison",
     "Silvally,-Psychic",
     "Silvally-Rock",
     "Silvally-Steel",
     "Silvally-Water",
     "Minior",
     "Komala",
     "Turtonator",
     "Togedemaru",
     "Mimikyu",
     "Bruxish",
     "Drampa",
     "Dhelmise",
     "Jangmo-o",
     "Hakamo-o",
     "Kommo-o",
     "Tapu Koko",
     "Tapu Lele",
     "Tapu Bulu",
     "Tapu Fini",
     "Cosmog",
     "Cosmoem",
     "Solgaleo",
     "Lunala",
     "Nihilego",
     "Buzzwole",
     "Pheromosa",
     "Xurkitree",
     "Celesteela",
     "Kartana",
     "Guzzlord",
     "Necrozma",
     "Necrozma-Dawn-Wings",
     "Necrozma-Dusk-Mane",
     "Necrozma-Ultra",
     "Magearna",
     "Marshadow",
     "Poipole",
     "Naganadel",
     "Stakataka",
     "Blacephalon",
     "Zeraora",
     "Meltan",
     "Melmetal",
     "Grookey",
     "Thwackey",
     "Rillaboom",
     "Scorbunny",
     "Raboot",
     "Cinderace",
     "Sobble",
     "Drizzile",
     "Inteleon",
     "Skwovet",
     "Greedent",
     "Rookidee",
     "Corvisquire",
     "Corviknight",
     "Blipbug",
     "Dottler",
     "Orbeetle",
     "Nickit",
     "Thievul",
     "Gossifleur",
     "Eldegoss",
     "Wooloo",
     "Dubwool",
     "Chewtle",
     "Drednaw",
     "Yamper",
     "Boltund",
     "Rolycoly",
     "Carkol",
     "Coalossal",
     "Applin",
     "Flapple",
     "Appletun",
     "Silicobra",
     "Sandaconda",
     "Cramorant",
     "Arrokuda",
     "Barraskewda",
     "Toxel",
     "Toxtricity",
     "Sizzlipede",
     "Centiskorch",
     "Clobbopus",
     "Grapploct",
     "Sinistea",
     "Polteageist",
     "Hatenna",
     "Hattrem",
     "Hatterene",
     "Impidimp",
     "Morgrem",
     "Grimmsnarl",
     "Obstagoon",
     "Perrserker",
     "Cursola",
     "Sirfetch'd",
     "Mr. Rime",
     "Runerigus",
     "Milcery",
     "Alcremie",
     "Falinks",
     "Pincurchin",
     "Snom",
     "Frosmoth",
     "Stonjourner",
     "Eiscue",
     "Indeedee",
     "Indeedee-F",
     "Morpeko",
     "Cufant",
     "Copperajah",
     "Dracozolt",
     "Arctozolt",
     "Dracovish",
     "Arctovish",
     "Duraludon",
     "Dreepy",
     "Drakloak",
     "Dragapult",
     "Zacian",
     "Zamazenta",
     "Eternatus",
     "Kubfu",
     "Urshifu",
     "Urshifu-Rapid-Strike",
     "Zarude",
     "Regieleki",
     "Regidrago",
     "Glastrier",
     "Spectrier",
     "Calyrex",
     "Calyrex-Ice",
     "Calyrex-Shadow"
]

autocomplete(document.getElementById("monInput"), allMonNames)
</script>
<pre><%= JSON.stringify(allMonNames,null,5) %></pre>