<div style="background-color: white; border: solid; padding: 25px;">
    <p style="font-size: 18px;"><b>Updated dictionary for <%= dataType %></b></p>
        <p><b>Click the data to automatically select it for easy copy paste without scrolling.</b></p>
        <br>
        

    <% if (dataType == "abilities") { %> 
        <p>Use <a href="https://play.pokemonshowdown.com/data/abilities.js">https://play.pokemonshowdown.com/data/abilities.js</a> to update raw dictionary</p>
        <br>
    <% } %>
    <% if (dataType == "items") { %> 
        <p>Use <a href="https://play.pokemonshowdown.com/data/items.js">https://play.pokemonshowdown.com/data/items.js</a> to update raw dictionary</p>
        <br>
    <% } %>
    <div onclick="selectText(this.id)" id="elementID">
        <pre><%- JSON.stringify(updatedData, null, " ") %></pre>
    </div>
</div>

<script>
    //function that highlights anything in a div element by clicking
    //extremely useful to instantly copy and paste the printed data without scrolling for so long trying to highlighy everything
    //control + A doesn't work because it highlights all text on the website
    function selectText(id){
	var sel, range;
	var el = document.getElementById(id); //get element id
	if (window.getSelection && document.createRange) { //Browser compatibility
	  sel = window.getSelection();
	  if(sel.toString() == ''){ //no text selection
		 window.setTimeout(function(){
			range = document.createRange(); //range object
			range.selectNodeContents(el); //sets Range
			sel.removeAllRanges(); //remove all ranges from selection
			sel.addRange(range);//add Range to a Selection.
		},1);
	  }
	}else if (document.selection) { //older ie
		sel = document.selection.createRange();
		if(sel.text == ''){ //no text selection
			range = document.body.createTextRange();//Creates TextRange object
			range.moveToElementText(el);//sets Range
			range.select(); //make selection.
		}
	}
}
</script>