<style>
  input {
    border: 1px solid transparent;
    border-color: black;
    background-color: white;
    padding: 10px;
    font-size: 16px;
  }

  input[type=text] {
    background-color: white;
    width: 100%;
  }

  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }

</style>

<h2>Teambuilder Helper</h2>
<div style="background-color: rgb(220, 244, 250); border: solid; border-color: rgb(182, 210, 216); padding: 25px; width: auto">
    <p style="font-size: 16px">Welcome to the Teambuilder Helper. Choose a generation and tier below. Then, you will be able to select Pokemon from
        that format and add it to a draft team. After, the website will generate a summary page, showing the sets of your Pokemon, general stats of
        your team like the team archetype, and some strengths and weaknesses of your team.
        You can then export your team when you are done which is ready for use for Pokemon Showdown!.</p>

    <div style="background-color:white; border: solid; border-color:red; border-width:3px; padding: 10px;">
        <p style="font-size: 16px; margin-bottom:5px"><b>NOTE:</b> If you want to change the generation or tier and create a new team, you must press the "Refresh
        Teambuilder Helper" button, which will allow you to add Pokemon to the team. If you do not press it, then you will not be able to add
        Pokemon with the newly selected generation and/or tier.</p>
    </div>
    <br>
    <br>
    <form method="post" action="/teambuilderHelper">
        <p style="font-size: 16px">
            Select generation:
            <select name="generation">
                <option value="8">Generation 8</option>
                <option value="7">Generation 7</option>
                <option value="6">Generation 6</option>
            </select>
        
            Select tier:
            <select name="tier">
                <option value="Ubers" style="background-color:goldenrod">Ubers</option>
                <option value="OU" style="background-color:lightskyblue">OU</option>
                <option value="UU" style="background-color:red; color:white">UU</option>
                <option value="RU" style="background-color:yellow">RU</option>
                <option value="NU" style="background-color:blue; color:white">NU</option>
                <option value="PU" style="background-color:olive">PU</option>
                <option value="LC" style="background-color:green; color:white">LC</option>
            </select>
        </p>
        <br>
        <button style="margin:5px" class="btn btn-success" onclick="location.href='/deleteAll'" type="button">
            Refresh Teambuilder Helper</button>
        <hr>
        <input type="submit">
    </form>
</div>