<form method="post" action="/test">
    <p style="font-size: 16px">Enter Pokemon: <input type="text" name="pokemon"></p>
    <br>
    <p style="font-size: 16px">Select tier:
    <select name="tier">
        <option value="Ubers" style="background-color:goldenrod">Ubers</option>
        <option value="OU" style="background-color:lightskyblue">OU</option>
        <option value="UU" style="background-color:red; color:white"">UU</option>
        <option value="RU" style="background-color:yellow">RU</option>
        <option value="NU" style="background-color:blue; color:white">NU</option>
        <option value="PU" style="background-color:olive">PU</option>
        <option value="LC" style="background-color:green; color:white"">LC</option>
    </select>

    Select generation:
    <select name="generation">
        <option value="8">Generation 8</option>
        <option value="7">Generation 7</option>
        <option value="6">Generation 6</option>
        <option value="5">Generation 5</option>
        <option value="4">Generation 4</option>
        <option value="3">Generation 3</option>
        <option value="2">Generation 2</option>
        <option value="1">Generation 1</option>
    </select></p>
    <hr>
    <input type="submit">
</form>