<h1>Add a todo</h1>
<form method="post" action="/todo">
    description:<input type="text" name="desc"><br>
    thing1:<input type="text" name="thing1"><br>
    thing2:<input type="text" name="thing2"><br>
    <input type="submit">
</form>
